body {
    margin: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-top: 20px;
    padding-right: 10px;
    width: 100px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    text-align: right;
}

main {
    margin-left: 150px;
    padding: 1px 16px;
}

#color-menu {
    display: inline-block;
    position: relative;
}

#color-grid {

}

cell {
    width: 20px;
    height: 20px;
    display: flex;
    border: 1px solid slategray;
}

